@import "bootstrap_and_override";
@import "jquery.ui.all";

#button {
	width: 152px;
	transition: width 2s;
	-moz-transition: width 2s;
	-webkit-transition: width 2s;
	-o-transition: width 2s;
	&:hover {
		width: 300px;
	}
}